/* roboto-regular - latin */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
    font-family: 'Roboto',sans-serif;
    font-size: '14px';
}
h1, h2, h3, h4, h5, h6 {
    color: red
}
